*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   
}

html,body{
  height: 100%;
  width: 100%;
  background-color: rgb(3, 3, 3);
}

.card{
  /* height: 400px; */
  width: 400px;
   background-color: rgb(5, 69, 48);
   color: white;
   border-radius: 5px;
}